<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="net.sourceforge.ganttproject"
        name="Ganttproject Plug-in"
        version="2.0.0"
        provider-name="">

   <runtime>
      <library name="ganttproject.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/AppleJavaExtensions.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/balloontip-1.2.4.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/commons-beanutils-1.8.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/biz.ganttproject.desktop.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/commons-codec-1.10.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/commons-collections-3.2.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/commons-csv.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/commons-io.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/commons-lang-2.5.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/commons-logging-1.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/commons-net-ftpclient-3.0.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/concurrentlinkedhashmap-lru-1.4.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/ezmorph-1.0.6.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/ganttproject-jxbusycomponent-1.2.2.jar">
         <export name="*"/>
      </library>

      <library name="lib/core/httpclient-4.5.6.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/httpcore-4.4.10.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/httpmime-4.5.6.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/jcommander-1.17.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/jdom-1.1.3.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/jgoodies-common-1.7.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/jgoodies-looks-2.5.3.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/json-lib-2.4-jdk15.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/jxlayer.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/milton-api-2.7.4.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/milton-client-2.7.4.4-bs.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/slf4j-api-1.7.25.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/slf4j-jdk14-1.7.25.jar">
         <export name="*"/>
      </library>
      <library name="lib/core/swingx-1.6.4.jar">
         <export name="*"/>
      </library>
      <library name="data/resources/">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="biz.ganttproject.core"/>
   </requires>
   <extension-point id="exporter" name="Exporter"/>
   <extension-point id="importer" name="Importer"/>
   <extension-point id="chart" name="Chart"/>
   <extension-point id="OptionPageProvider" name="OptionPageProvider"/>
   <extension-point id="search" name="SearchService"/>

   <extension point="org.eclipse.core.runtime.applications" id="GanttProject">
      <application>
         <run class="net.sourceforge.ganttproject.application.MainApplication"/>
      </application>
   </extension>
   <extension point="net.sourceforge.ganttproject.exporter">
      <exporter class="net.sourceforge.ganttproject.export.ExporterToImage"/>
      <exporter class="net.sourceforge.ganttproject.export.ExporterToCSV"/>
   </extension>
   <extension
           point="net.sourceforge.ganttproject.importer">
      <importer class="net.sourceforge.ganttproject.importer.ImporterFromGanttFile"/>
      <importer class="net.sourceforge.ganttproject.importer.ImporterFromTxtFile"/>
      <importer class="biz.ganttproject.impex.csv.ImporterFromCsvFile"/>
   </extension>
   <extension point="net.sourceforge.ganttproject.OptionPageProvider">
      <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ExportCsvOptionPageProvider"/>
      <optionpageprovider class="net.sourceforge.ganttproject.gui.options.GanttChartOptionPageProvider"/>
      <optionpageprovider class="net.sourceforge.ganttproject.gui.options.InterfaceOptionPageProvider"/>
      <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ProjectBasicOptionPageProvider"/>
      <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ProjectCalendarOptionPageProvider"/>
      <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ProjectRolesOptionPageProvider"/>
      <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ResourceChartOptionPageProvider"/>
      <optionpageprovider class="net.sourceforge.ganttproject.document.NetworkOptionPageProvider"/>
      <optionpageprovider class="net.sourceforge.ganttproject.document.webdav.WebDavOptionPageProvider"/>
   </extension>

   <extension
           point="net.sourceforge.ganttproject.search">
      <searchservice class="net.sourceforge.ganttproject.search.TaskSearchService"/>
      <searchservice class="net.sourceforge.ganttproject.search.ResourceSearchService"/>
   </extension>

   <!--   <extension point="net.sourceforge.ganttproject.chart">
            <exporter class="net.sourceforge.ganttproject.chart.TestChart"/>
      </extension> -->

</plugin>
