/*
Copyright 2021 BarD Software s.r.o

This file is part of GanttProject, an open-source project management tool.

GanttProject is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

GanttProject is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GanttProject.  If not, see <http://www.gnu.org/licenses/>.
*/
$default-vertical-padding: 1ex;
$alert-background: #f8d7da;
$alert-foreground: #721c24;

@mixin dialog-header($bgColor) {
  -fx-spacing: 5;
  -fx-background-color: $bgColor;
  -fx-alignment: center-left;
  -fx-fill-width: true;
  -fx-padding: 15;
  -fx-background-insets: 0 0 4 0;
  -fx-effect: dropshadow(gaussian, #ccc, 4, 0, 0, 4);
  -fx-font-size: 110%;
  -fx-font-weight: bold;
}

@mixin dialog-content-padding {
  -fx-padding: 1ex 1em;
}

@mixin dialog-scrollable-content-padding {
  -fx-padding: 0;
}

@mixin dialog-button-pane {
  -fx-padding: 2*$default-vertical-padding 1em $default-vertical-padding 1em;
  -fx-background-color: whitesmoke;
}

.dialog-alert {
  -fx-pref-height: 400;
  -fx-pref-width: 400;
  .header {
    @include dialog-header($alert-background);
  }
  .content-pane {
    @include dialog-content-padding();
    -fx-border-width: 0;
  }
}
