@import "theme";

@mixin context-menu() {
  .menu-item {
    -fx-padding: 0.5ex 1em;
    -fx-text-fill: $gp-dark-gray;

    .check-box {
      -fx-padding: 0;
      -fx-background-color: transparent;

      .box {
        -fx-padding: 0;
        -fx-background-color: transparent;
        .glyph-icon {
          -fx-padding: 2;
          -glyph-size: 30px;
        }
      }
    }
    .custom-checkbox-menu-item {
      -fx-padding: 2 5 2 5;

      .label {
        -fx-text-fill: $gp-dark-gray;
      }
      .title {
        -fx-font-weight: bold;
        -fx-text-fill: $gp-dark-gray;
        -fx-padding: 0;
      }

      .help {
        -fx-font-size: 80%;
        -fx-text-fill: dimgray;
        -fx-padding: 0;
      }
    }

    .custom-label-menu-item {
      .glyph-icon {
        -glyph-size: 18px;
        -fx-fill: $gp-dark-gray;
      }
      -fx-padding: 5px;
      &.blank_icon {
        .glyph-icon {
          -fx-fill: transparent;
        }
      }
    }
    &:focused {
      -fx-background: -fx-accent;
      -fx-background-color: $gp-light-gray;
      -fx-text-fill: $gp-dark-gray;

      .label {
        -fx-text-fill: $gp-dark-gray;
      }
    }
  }
}
//
//.menu-item {
//  -fx-background-color: transparent;
//  -fx-padding: 0.333333em 0.41777em 0.333333em 0.41777em;  /* 4 5 4 5 */
//}
//
//.menu-item > .left-container {
//  -fx-padding: 0.458em 0.791em 0.458em 0.458em;
//}
//
//.menu-item > .graphic-container {
//  -fx-padding: 0em 0.333em 0em 0em;
//}
//
//.menu-item >.label {
//  -fx-padding: 0em 0.5em 0em 0em;
//  -fx-text-fill: -fx-text-base-color;
//}
//
//.menu-item:disabled > .label {
//  -fx-opacity: -fx-disabled-opacity;
//}
//

//.menu-item:focused > .label {
//  -fx-text-fill: $gp-dark-gray;
//}
//.menu-item > .right-container {
//  -fx-padding: 0em 0em 0em 0.5em;
//}
