@import "../app/buttons";
@import "../app/dialogs";
@import "../app/theme";

.dlg-print-preview {
  -fx-min-height: 400;
  .header {
    @include dialog-header($gp-light-gray);
    -fx-font-weight: normal;
  }

  .content-pane {
    -fx-background-color: $gp-control-background;
    .scroll-pane {
      -fx-background-color: $gp-control-background;
      & > .viewport {
        -fx-background-color: transparent;
        -fx-border-insets: 5 5 5 5;
      }
    }
    .page {
      -fx-padding: 1;
      -fx-background-color: $gp-control-background;
      -fx-border-color: $gp-dark-gray;
      -fx-effect: dropshadow(gaussian, #ccc, 2, 0, 2, 2);
    }
  }


  .btn-small-attention {
    -fx-background-color: $gp-orange;
    -fx-text-fill: $gp-dark-gray;
    -fx-padding: 0.5ex 1em 0.5ex 1em;
    -fx-cursor: hand;
  }
  .button-pane {
    @include dialog-button-pane();
  }

  .combo-box-base  {
    @include btn-normal();

    .arrow-button {
      @include btn-normal();
      -fx-border-color: transparent;
    }

    &:hover {
      @include btn-hovered();
      .arrow-button {
        @include btn-hovered();
        -fx-border-color: transparent;
      }
    }

    &:focused {
      @include btn-hovered();
      @include btn-focused();

      .arrow-button {
        @include btn-hovered();
        -fx-border-color: transparent;
      }
    }

    &:disabled {
      -fx-opacity: .4;
    }
  }

  /* ------- OPEN BUTTON ------- */

  .combo-box-base:showing > .arrow-button,
  .date-picker:showing > .arrow-button {
    -fx-color: -fx-pressed-base;
  }

}
