/*
Copyright 2019 BarD Software s.r.o

This file is part of GanttProject, an open-source project management tool.

GanttProject is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

GanttProject is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GanttProject.  If not, see <http://www.gnu.org/licenses/>.
*/
.dlg-lock {
    -fx-font-size: 120%;
    -fx-background-color: transparent;
    -fx-fill-width: 1;
    -fx-fill-height: 1;
    -fx-pref-width: 400;
    -fx-pref-height: 400;
}

.dlg-lock .btn-option {
    -fx-padding: 1ex 0 0 0;
}

.dlg-lock .content-pane {
    -fx-padding: 20px;
}

.dlg-lock .img {
    -fx-padding: 30px 0 0 20px;
    -fx-fill: -gp-medium-gray;
    -glyph-size: 64px;
}

.dlg-lock .help {
    -fx-padding: 3 0 1ex 0;
}

.dlg-lock .option-help {
    -fx-padding: 0 0 0 2em;
    -fx-font-size: 80%;
    -fx-wrap-text: true;
}

.dlg-lock .tab {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-padding: 1ex 1em;
}

.dlg-lock .tab:hover, .dlg-lock .tab:focused {
    -fx-border-color: -gp-medium-gray;
    -fx-cursor: hand;
}

.dlg-lock .tab-pane .focus-indicator {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.dlg-lock .tab .tab-label {
    -fx-text-fill: -gp-medium-gray;
}

.dlg-lock .tab:selected {
    -fx-border-color: -gp-orange;
}

.dlg-lock .tab:selected .tab-label {
    -fx-text-fill: -gp-dark-gray;

}

.dlg-lock .tab-contents {
    -fx-padding: 1ex 2em 1ex 2em;
}


.dlg-lock .tab-contents .pane-buttons {
    -fx-padding: 1ex 0;

}

.dlg-lock .tab-contents .btn-small-attention {
    -fx-background-color: -gp-orange;
    -fx-text-fill: -gp-dark-gray;
    -fx-padding: 0.5ex 1em 0.5ex 1em;
    -fx-cursor: hand;
}

.dlg-lock .tab-contents .btn-small-attention:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default;
}

.dlg-lock .tab-contents .section {
    -fx-padding: 2ex 0 0 0;
}

.tab-pane {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 1ex 0 0 0;
    -fx-background-color: #eee;
    -fx-pref-width: 100%;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.fill-parent {
    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
    -fx-fill-width: true;
    -fx-max-width: infinity;
}

.first-child {
    -fx-padding: 1ex 0 0 0;
}

Label.h2 {
    -fx-padding: 5 0 3 0;
    -fx-font-weight: bold;
    -fx-font-size: 110%;
}

.smallskip {
    -fx-padding: 0.5ex 0 0 0;
}

.medskip {
    -fx-padding: 2ex 0 0 0;
}

.signup-pane {
    -fx-padding: 20px;
}

.signup-pane .signup-body {
    -fx-padding: 2ex 1em;
}

.progress-indicator {
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-fill-height: 1;
    -fx-fill-width: 1;
    -fx-padding: 20px;
}
