
.dlg-lock {
    -fx-font-size: 120%;
    -fx-background-color: transparent;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-fill-width: 1;
    -fx-fill-height: 1;
}

.dlg-lock .btn-option {
    -fx-padding: 1ex 0 0 0;
}

.dlg-lock .content-pane {
    -fx-padding: 0 0 0 2em;
}

.dlg-lock .img {
    -fx-padding: 10 0 0 0;
}

.dlg-lock .img .glyph-icon {
    -fx-fill: -gp-medium-gray;
    -glyph-size: 64;
}

.dlg-lock .help {
    -fx-padding: 3 0 1ex 0;
}

.dlg-lock .option-help {
    -fx-padding: 0 0 0 2em;
    -fx-font-size: 80%;
    -fx-wrap-text: true;
}

.dlg-lock .tab {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-padding: 1ex 1em;
}

.dlg-lock .tab:hover, .dlg-lock .tab:focused {
    -fx-border-color: -gp-medium-gray;
    -fx-cursor: hand;
}

.dlg-lock .tab-pane .focus-indicator {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.dlg-lock .tab .tab-label {
    -fx-text-fill: -gp-medium-gray;
}

.dlg-lock .tab:selected {
    -fx-border-color: -gp-orange;
}

.dlg-lock .tab:selected .tab-label {
    -fx-text-fill: -gp-dark-gray;

}

.dlg-lock .tab-contents {
    -fx-padding: 1ex 2em 1ex 2em;
}


.dlg-lock .tab-contents .pane-buttons {
    -fx-padding: 1ex 0;

}

.dlg-lock .tab-contents .btn-small-attention {
    -fx-background-color: -gp-orange;
    -fx-text-fill: -gp-dark-gray;
    -fx-padding: 0.5ex 1em 0.5ex 1em;
    -fx-cursor: hand;
}

.dlg-lock .tab-contents .btn-small-attention:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default;
}

.dlg-lock .tab-contents .section {
    -fx-padding: 2ex 0 0 0;
}

.tab-pane {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 1ex 0 0 0;
    -fx-background-color: #eee;
    -fx-pref-width: 100%;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.fill-parent {
    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
    -fx-fill-width: true;
    -fx-max-width: infinity;
}

.first-child {
    -fx-padding: 1ex 0 0 0;
}

Label.h2 {
    -fx-padding: 5 0 3 0;
    -fx-font-weight: bold;
    -fx-font-size: 110%;
}

.smallskip {
    -fx-padding: 0.5ex 0 0 0;
}

.medskip {
    -fx-padding: 2ex 0 0 0;
}

.signup-pane {
    -fx-padding: 20px;
}

.signup-pane .signup-body {
    -fx-padding: 2ex 1em;
}
