.btn-attention {
    -fx-max-width: 20em;
    -fx-min-width: 10em;
    -fx-pref-width: 50%;
}

.dlg-lock {
    -fx-padding: 20 20 20 20;
    -fx-font-size: 120%;
    -fx-background-color: transparent;
}

.dlg-lock .btn-option {
    -fx-padding: 1ex 0 0 0;
}

.dlg-lock .content-pane {
    -fx-padding: 0 0 0 2em;
}

.dlg-lock .glyph-icon {
    -fx-fill: -gp-medium-gray;
    -glyph-size: 64;
    -fx-padding: 10 0 0 0;
}

.dlg-lock .help {
    -fx-padding: 3 0 1ex 0;
}

.dlg-lock .option-help {
    -fx-padding: 0 0 0 2em;
    -fx-font-size: 80%;
    -fx-wrap-text: true;
}

.dlg-lock .tab {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-padding: 0.25ex 1em;
}

.dlg-lock .tab:hover, .dlg-lock .tab:focused {
    -fx-background-color: -gp-light-gray;
    -fx-border-color: derive(-gp-light-gray, 10%);
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-border-radius: 3;
}
.dlg-lock .tab-pane .focus-indicator {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.dlg-lock .tab:selected {
    -fx-background-color: -gp-medium-gray;
    -fx-border-color: derive(-gp-light-gray, 10%);
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

.dlg-lock .tab:selected .tab-label {
    -fx-text-fill: white;

}
.dlg-lock .tab-contents {
    -fx-padding: 0 1em 0 1em;
}

.dlg-lock .tab-contents .section {
    -fx-padding: 0 0 2em 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 1ex 0;
}
.tab-pane .tab-header-area .tab-header-background
{
    -fx-background-color: transparent;
}
.fill-parent {
    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
    -fx-fill-width: true;
    -fx-max-width: infinity;
}

.first-child {
    -fx-padding: 1ex 0 0 0;
}

Label.h2 {
    -fx-padding: 5 0 3 0;
    -fx-font-weight: bold;
    -fx-font-size: 110%;
}

.smallskip {
    -fx-padding: 0.5ex 0 0 0;
}
