.dlg-lock .tab-contents .btn-small-attention {
    -fx-background-color: -gp-orange;
    -fx-text-fill: -gp-dark-gray;
    -fx-padding: 0.5ex 1em 0.5ex 1em;
    -fx-cursor: hand;
}

.history-pane .list-cell .timestamp {
    -fx-font-weight: bold;
}

.history-pane .list-cell .author {
    -fx-font-size: 82%;
}
