<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.ganttproject.chart.pert"
   name="Pert Plug-in"
   version="1.0.0"
   provider-name="">

   <runtime>
      <library name="lib/*">
         <export name="*"/>
      </library>
      <library name="resources/">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="biz.ganttproject.core"/>
      <import plugin="net.sourceforge.ganttproject"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
   <extension
         point="net.sourceforge.ganttproject.chart">
         <chart class="org.ganttproject.chart.pert.ActivityOnNodePertChart"/>
   </extension>
</plugin>
