/*
Copyright 2019 BarD Software s.r.o

This file is part of GanttProject, an open-source project management tool.

GanttProject is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

GanttProject is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GanttProject.  If not, see <http://www.gnu.org/licenses/>.
*/
.dlg-platform-update .body {
    -fx-padding: 0 1em;
}

.dlg-platform-update .body .title {
    -fx-fill: -gp-dark-gray;
    -fx-font-size: 110%;
}

.dlg-platform-update .body .subtitle {
    -fx-fill: -gp-medium-gray;
    -fx-font-size: 80%;
    -fx-font-weight: normal;
}

.dlg-platform-update .body .par {
    -fx-fill: -gp-medium-gray;
    -fx-padding: 0.5ex 0 0.5ex 0;
}

.dlg-platform-update .body .progress {
    -fx-font-size: 80%;
    -fx-fill: -gp-medium-gray;
    -fx-padding: 0 0 2ex 0;
}

.dlg-platform-update .content-pane .help {
    -fx-padding: 0 0 2ex 0;
}

.dlg-platform-update Label.no-updates {
    -fx-font-size: 200%;
}

.dlg-platform-update Label.no-updates .glyph-icon {
    -glyph-size: 40px;
}

.dlg-platform-update .header {
    -fx-background-color: -gp-orange;
}
