.dlg-cloud-resource-list .header {
    -fx-spacing: 5;
    -fx-background-color: -gp-orange;
    -fx-alignment: center-left;
    -fx-fill-width: true;
    -fx-padding: 15;
    -fx-background-insets: 0 0 4 0;
    -fx-effect: dropshadow(gaussian, #ccc, 4, 0, 0, 4);
    -fx-font-size: 120%;
    -fx-font-weight: bold;
}

/*.header .title {*/
/*    -fx-background-color: -gp-orange;*/
/*}*/
