.alert-warning {
    -fx-background-color: derive(orange, 40%);
    -fx-border-color: derive(orange, 20%);
    -fx-text-fill: dimgray;
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-wrap-text: true;
}

.body {
    -fx-background-color: white;
}
.bordered {
    -fx-border-width: 1;
    -fx-border-style: dotted;
    -fx-border-color: red;
}
.btn-service {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-text-fill: black;
    -fx-border-radius: 0;
    -fx-cursor: hand;
}
.btn-service:hover {
    -fx-background-color: derive(white, -10%);
}
.btn-service.active {
    -fx-background-color: derive(orange, 20%);
}
.btn-signup {
    -fx-background-color: orangered;
    -fx-border-width: 1;
    -fx-border-color: derive(orangered, -10%);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.center {
    -fx-alignment: center;
    -fx-max-width: Infinity;
}
.notification {
    -fx-padding: 5px 10px 0px 10px;
}
.notification > *.content {
    -fx-background-color: maroon;
    -fx-border-color: derive(maroon, -10%);
}

.notification .label {
    -fx-padding: 3px;
    -fx-background-color: maroon;
    -fx-text-fill: white;
}

.notification > .title {
    visibility: hidden;
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
}
.pane-service-buttons {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: derive(white, -15%);
    -fx-padding: 10;
    -fx-spacing: 8;
}
.pane-service-contents {
    -fx-padding: 10 10 0 10;
}
.pane-service-contents > .breadcrumb {
    -fx-padding: 0 0 5 0;
}
.pane-service-contents > .title {
    -fx-padding: 0 0 5 0;
    -fx-font-size: 130%;
}
.pane-service-contents > .title-help {
    -fx-padding: 0 5 10 5;
    -fx-font-size: 80%;
    -fx-text-fill: dimgray;
    -fx-wrap-text: true;
}
.subtitle {
    -fx-font-size: 110%;
    -fx-padding: 20 0 3 0;
}
.help {
    -fx-padding: 0 0 5 0;
    -fx-font-size: 80%;
    -fx-text-fill: dimgray;
    -fx-wrap-text: true;
}
