<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="net.sourceforge.ganttproject.test"
   name="Ganttproject test Plug-in"
   version="2.5.0"
   provider-name="">

   <runtime>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.junit4"/>
      <import plugin="net.sourceforge.ganttproject"/>
   </requires>
</plugin>
