.local-storage .doclist {
    -fx-padding: 1ex 0 1ex 0;
}
.local-storage .custom-text-field:right-node-visible {
    -fx-padding: 0 0 0 .3em;
}
.local-storage .custom-text-field:right-node-visible .right-pane {
    -fx-padding: 0 0 0 0;
}
.local-storage .path-dropdown {
    -fx-background-color: derive(orange, 20%);
    -fx-border-insets: 0 0 1em 0;
    -fx-background-insets: 0 0 1em 0;
    -fx-padding: 0 0 1em 0;
}
.local-storage .path-dropdown > .list-cell {
    -fx-font-weight: bold;
}

.local-storage .doclist-save {
    -fx-background-color: teal;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
