@import "../app/dialogs";
@import "../app/theme";
@import "../app/typography";
@import "../app/validation";

.dlg-column-manager {
  -fx-min-height: 400;
  .header {
    @include dialog-header($gp-orange);
  }
  .content-pane {
    .list-view {
      -fx-border-width: 0 1 0 0;
      -fx-border-color: $gp-light-gray;
    }
    .column-item-cell {
      -fx-fill: $gp-dark-gray;
      -fx-text-fill: $gp-dark-gray;
      -fx-font-size: 100%;
      -fx-padding: 5 10 5 15;
      -fx-strikethrough: false;

      .glyph-icon {
        -glyph-size: 18;
        -fx-alignment: center;

        &:hover {
          -fx-cursor: hand;
          -fx-fill: darken($gp-dark-gray, 10%);
          -glyph-size: 18;
        }
      }
      &.is-hidden > * {
        -fx-strikethrough: true;
      }

      &:selected {
        -fx-background-color: $gp-light-gray;
        & > * {
          -fx-fill: $gp-dark-gray;
          -fx-text-fill: $gp-dark-gray;
        }
      }
    }
    .property-sheet {
      .validation-error {
        @include validation-error();
      }
    }
    //.column-item-cell {
    //  -fx-padding: 3 5;
    //  .labels {
    //    -fx-padding: 0 0 0 5;
    //    .name {
    //      -fx-font-size: 110%;
    //      -fx-text-fill: $gp-dark-gray;
    //    }
    //
    //    .email {
    //      @include text-secondary();
    //    }
    //  }
    //  &:selected, &:focused {
    //
    //  }
    //}
  }
  .button-pane {
    @include dialog-button-pane();
  }
}
