<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log_path:-ganttproject.log}</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.jooq.tools.LoggerListener" level="INFO"/>
    <logger name="java" level="INFO"/>
    <logger name="javafx" level="INFO"/>
    <logger name="sun" level="INFO"/>
    <logger name="net.sourceforge.ganttproject" level="INFO"/>
    <logger name="net.sourceforge.ganttproject.GanttProject.quitApplication" level="INFO"/>
    <logger name="net.sourceforge.ganttproject.chart.PublicHolidayDialogAction" level="WARNING"/>
    <logger name="net.sourceforge.ganttproject.task.algorithm.CriticalPathAlgorithm" level="WARNING"/>
    <logger name="net.sourceforge.ganttproject.task.algorithm.SchedulerImpl" level="INFO"/>
    <logger name="io.milton.httpclient" level="INFO"/>

    <logger name="App" level="INFO"/>
    <logger name="App.Barrier" level="DEBUG"/>
    <logger name="App.Dirs" level="INFO"/>
    <logger name="App.Update" level="INFO"/>
    <logger name="Cloud.Document" level="INFO"/>
    <logger name="Cloud.Document.History" level="INFO"/>
    <logger name="Cloud.Http" level="INFO"/>
    <logger name="Document.Info" level="INFO"/>
    <logger name="Export" level="INFO"/>
    <logger name="Export.Progress" level="INFO"/>
    <logger name="Export.Pdf.Fonts" level="INFO"/>
    <logger name="Import.MSProject" level="INFO"/>
    <logger name="Print" level="INFO"/>
    <logger name="Print.ImageProcessor" level="INFO"/>
    <logger name="Project.OpenStateMachine" level="DEBUG"/>
    <logger name="ProjectDatabase" level="INFO"/>
    <logger name="ProjectDatabase.CalculatedProperty" level="INFO"/>
    <logger name="ResourceTable" level="INFO"/>
    <logger name="SchedulerImpl" level="INFO"/>
    <logger name="TaskTable" level="INFO"/>
    <logger name="TaskTable.Orchestrator" level="INFO"/>
    <logger name="TaskTable.ImageBuilder" level="INFO"/>
    <logger name="View" level="INFO"/>
    <logger name="Window" level="INFO"/>
    <logger name="Window.Bounds" level="INFO"/>
    <logger name="Window.Startup" level="INFO"/>

</configuration>